# Copy file ini jadi .env lalu isi API key kamu
# cp .env.example .env
    
GNEWS_API_KEY=YOUR_GNEWS_API_KEY_HERE

# Optional overrides
KAFKA_BROKER=localhost:9092
FLUSH_INTERVAL_SECONDS=120
RSS_POLL_INTERVAL_SECONDS=300
API_POLL_INTERVAL_SECONDS=60
HDFS_WEB_URL=http://localhost:9870
HDFS_USER=root
